<html>
<head>
<title> contact Roni </title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css.css')}}">
</head>
<body background="{{url_for('static',filename='leaves.jpg')}}">

<span class="nice">
<form>

<p>  Put Email Here s'il vous plait<input type="text"> </p>
<p> Qu'est ce que ton nom? <input type="text"></p>
<input type="submit" value="submit">
<p> <a href="{{url_for('roni')}}"> about me</a></p>
<p> <a href="{{url_for('home')}}"> home</a></p>
</form>
<p class="nice"> <a href="https://www.google.co.il/search?client=ubuntu&channel=fs&q=yoni+rechter&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=Xr8jVqjVDKaH8Qeb4LbACQ"> Yoni Rechter da man</a></p>
</span>
</body>



</html>
